Django==1.8.2
MySQL-python==1.2.5
Pillow==2.8.2
django-appconf==1.0.1
django-autoslug==1.8.0
django-imagekit==3.2.6
django-licenses==0.2.5
django-model-utils==2.2
django-podcasting==0.10.1
django-taggit==0.16.0
easy-thumbnails==2.2
pilkit==1.1.12
python-slugify==1.1.2
six==1.9.0
sorl-thumbnail==12.2
wsgiref==0.1.2