{% extends "base.html" %}
{% block content %}

    <div class="episode row">
        <div class="col-sm-1 episodenumber">{{ episode.number_of_episode }}</div>
        <div class="col-sm-11 episodeinfo">
            <h2><a href="{% url "episode_detail" episode.slug %}"></a>{{ episode.title }}</h2>
            <div class="row info">
                <div class="published col-lg-3">
                    <span class="labl">Publicado el:</span>
                    <span>{{ episode.published|date:"Y-m-d" }}</span>
                </div>

                <div class="duration col-lg-3">
                    <span class="labl">
                        Duraci&oacute;n:
                    </span>
                    <span>{{ episode.duration }}</span>
                </div>
            </div>
            <div class="row info">
                <div class="published col-lg-12">

                <span class="labl panelist">Panel:</span>
                {% for panelist in episode.panel.all %}
                    {{ panelist.name }}
                    {% if not forloop.last %}
                        |
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="player col-lg-12">
            <audio controls class="col-lg-12">
              <source src="/media/{{ object.file }}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
        </div>
    </div>
{% endblock %}