{% extends "site_base.html" %}
{% block title %}
{{ object.title }}
{% endblock %}
{% block ogtitle %}{{ object.episode.title }}{% endblock %}
{% block ogurl %}{{ domain }}{{ request.get_full_path }}{% endblock %}
{% block ogdescription %}{{ object.episode.description }}{% endblock %}

{% block content %}

    <div class="episode row">
        <div class="col-sm-1 episodenumber">{{ object.number_of_episode }}</div>
        <div class="col-sm-11 episodeinfo">
            <h2>{{ object.episode.title }}</h2>
            <div class="row info">
                <div class="published col-lg-3">
                    <span class="labl">Publicado el:</span>
                    <span>{{ object.episode.published|date:"Y-m-d" }}</span>
                </div>

                <div class="duration col-lg-3">
                    <span class="labl">
                        Duraci&oacute;n:
                    </span>
                    <span>{% if object.episode.hours %}{{ object.episode.hours|stringformat:"02d" }}:{% endif %}{{ object.episode.minutes|stringformat:"02d" }}:{{ object.episode.seconds|stringformat:"02d" }}</span>
                </div>
            </div>
            <div class="row info">
                <div class="published col-lg-12">

                <span class="labl panelist">Panel:</span>
                {% for panelist in object.panel.all %}
                    {{ panelist.alias }}
                    {% if not forloop.last %}
                        |
                    {% endif %}
                {% endfor %}
                </div>
                <div class="published col-lg-3">
                    <span class="labl"><a href="/media/{{ object.file }}" download>Descargar</a></span>
                </div>
            </div>
        </div>
        <div class="player col-lg-12">
            <audio controls class="col-lg-12">
              <source src="/media/{{ object.file }}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
        </div>
        <div class="podcast-description col-lg-12">
            {{ object.episode.description|safe }}
        </div>
        <div class="row comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'pizzafra';
                var disqus_title = '{{ object.title }}';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
{% endblock %}