{% extends "site_base.html" %}
{% load staticfiles %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block ogtitle %}{{ object.title }}{% endblock %}
{% block ogurl %}{{ domain }}{{ request.get_full_path }}{% endblock %}
{% block ogdescription %}{{ object.intro }}{% endblock %}
{% block ogimage %}{{ domain }}{{ object.main_image.photo.url }}{% endblock %}

{% block siteurl %}{{ domain }}{{ request.get_full_path }}{% endblock %}
{% block twitter_handle %}pizzafriamx{% endblock %}
{% block twtitle %}{{ object.title }}{% endblock %}
{% block twdescription %}{{ object.intro }}{% endblock %}
{% block twimage %}{{ domain }}{{ object.main_image.photo.url }}{% endblock %}

{% block menu %}
    <ul class="menu">
        <li class="menuitem"><a href="{% url 'home' %}">The Ark</a></li>
        <li class="menuitem{% if object.entry_type == 'audio' %} active{% endif %}">
            <a href="{% url 'podcast_list' %}">Podcast</a></li>
        <li class="menuitem{% if object.entry_type == 'video' %} active{% endif %}">
            <a href="{% url 'video_list' %}">Video</a></li>
        <li class="menuitem{% if object.entry_type == 'blog' %} active{% endif %}">
            <a href="{% url 'blog_list' %}">Blog</a></li>
        <li class="menuitem"><a href="{% url 'about' %}">Nosotros</a></li>
        <li class="menuitem"><a href="{% url 'contact_us' %}">Contacto</a></li>
    </ul>
{% endblock %}
{% block content %}
    <!-- ===== PAGE HEADER ===== -->
    <header class="page-header-podcast"
            style="background-image: url({{ object.main_image.photo.url }})">
        <div class="page-header-inner">
            <div class="container">

                <!-- ===== BREADCRUMB ===== -->
                <ol class="breadcrumb" itemscope
                    itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement"><a href="{% url 'home' %}">The
                        Ark</a>
                    </li>
                    <li itemprop="itemListElement"><a href="#">Podcast</a></li>
                </ol>

                <!-- ===== PAGE HEADER CONTENT ===== -->
                <div class="page-header-content text-center">
                    <h2>{{ object.title }}</h2>
                    <p>{{ object.intro|safe }}</p>
                </div>

            </div>
        </div>
    </header>
    {% if object.entry_type == "audio" %}
        <!-- ===== PODCAST PLAYER ===== -->
        <div class="podcast-player">
            <div class="podcast-player-inner">
                <div class="container">
                    <audio src="http://dts.podtrac.com/redirect.mp3/pizzafria.com/media/{{ episode.file }}"></audio>
                </div>
            </div>
        </div>

        <!-- ===== PODCAST META ===== -->
        <div class="podcast-meta-element">
            <span class="podcast-meta-item"><i
                    class="fa fa-calendar"></i>{{ episode.episode.published|date:"Y-m-d" }}</span>
            <span class="podcast-meta-item"><i
                    class="fa fa-clock-o"></i>{% if episode.episode.hours %}
                {{ episode.episode.hours|stringformat:"02d" }}
                :{% endif %}{{ episode.episode.minutes|stringformat:"02d" }}:{{ episode.episode.seconds|stringformat:"02d" }}</span>
            <a class="podcast-meta-item" href="{% url 'search_list' %}?q=
                    {% for tag in object.tags.all %}{% if forloop.first %}{{ tag }}{% endif %}{% endfor %}">
                <i class="fa fa-tag"></i>
                {% for tag in object.tags.all %}
                    {% if forloop.first %}{{ tag }}
                {% endif %}{% endfor %}
            </a>
            <a href="http://dts.podtrac.com/redirect.mp3/pizzafria.com/media/{{ episode.file }}"
               download class="podcast-meta-item"><i
                    class="fa fa-download"></i> Descargar (MP3)</a>
        </div>

        <!-- ===== PODCAST LINKS ===== -->
        <div class="podcast-links">
            <div class="container">
                <ul class="podcast-links-list">
                    {% for time_mark in time_marks %}
                        <li><a href="#" class="btn btn-success btn-sm skip-to"
                               data-seconds="{{ time_mark.seconds }}">{{ time_mark.human_time }}</a>
                            <a href="#"
                               class="podcast-link-cite skip-to"
                               data-seconds="{{ time_mark.seconds }}">{{ time_mark.mark }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% elif object.entry_type == 'video' %}
        <div class="podcast-player">
            <div class="podcast-player-inner">
                <div class="container video-container">
                    {% if episode.url %}
                        {{ embed|safe }}
                    {% else %}
                        <video src="{{ episode.video_file.url }}"
                               width="100%"></video>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endif %}

    <!-- ===== SINGLE PAGE CONTENT ===== -->
    <div class="section-negative">
        <div class="container">

            <div class="row mt-70 mb-50">

                <!-- ===== PODCAST TEXT CONTENT ===== -->
                <div class="col-md-8 mb-50">

                    <!-- ===== PAGE MAIN CONTENT ===== -->
                    <div class="page-content">
                        <!-- TODO: change this when the wysiwyg editor is implemented -->
                        <p>{{ object.content|safe }}</p>
                        <!-- ===== GALLERY WITH ZOOM ===== -->

                        <div class="page-gallery">
                            {% for image in object.images.all %}
                                <div class="col-md-4 col-xs-6 nopadding">
                                    <figure class="gallery-item">
                                        <a href="{{ image.photo.url }}"
                                           class="gallery-zoom"
                                           title="{{ image.title }}">
                                            <img src="{{ image.photo.url }}"
                                                 alt="{{ image.title }}"
                                                 title="{{ image.title }}"/>
                                        </a>
                                        <figcaption>{{ image.title }}
                                        </figcaption>
                                    </figure>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <!-- ===== HR ===== -->
                    <hr/>

                    <!-- ===== PREV AND NEXT ===== -->
                    <div class="page-pagination">
                    {% if prev %}
                        <!-- ===== PREV ===== -->
                        <a href="{% url 'episode_detail' prev.slug %}"
                           class="page-pagination-prev">
                            <i class="fa fa-long-arrow-left"></i>
                            <span>{{ prev.published }}</span>
                            <p>{{ prev.title }}</p>
                        </a>
                    {% endif %}
                    {% if next %}
                        <!-- ===== NEXT ===== -->
                        <a href="{% url 'episode_detail' next.slug %}"
                           class="page-pagination-next">
                            <i class="fa fa-long-arrow-right"></i>
                            <span>{{ next.published }}</span>
                            <p>{{ next.title }}</p>
                        </a>
                    {% endif %}
                    </div>

                    <!-- ===== HR ===== -->
                    <hr/>

                    <!-- ===== COMMENTS ===== -->
                    <div class="page-comments">
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES * * */
                            var disqus_shortname = 'pizzafra';
                            var disqus_title = '{{ object.title }}';

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function () {
                                var dsq = document.createElement('script');
                                dsq.type = 'text/javascript';
                                dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a
                                href="https://disqus.com/?ref_noscript"
                                rel="nofollow">comments powered by Disqus.</a>
                        </noscript>
                    </div>

                </div>

                <!-- ===== SIDEBAR ===== -->
                <div class="col-md-4">

                    <!-- ===== PODCAST SIDEBAR ===== -->
                    <div class="page-sidebar">

                        <!-- ===== SIDEBAR WIDGET ===== -->
                        <div class="sidebar-widget">
                            <h2 class="title-separator">Share this podcast</h2>
                            <ul class="social-list colored">
                                <li class="social-item facebook"><a
                                        href="https://www.facebook.com/sharer/sharer.php?u={{ domain }}{{ request.get_full_path }}"
                                        target="_blank"><i
                                        class="fa fa-facebook"></i></a></li>
                                <li class="social-item twitter"><a
                                        href="https://twitter.com/home?status={{ domain }}{{ request.get_full_path }}"
                                        target="_blank"><i
                                        class="fa fa-twitter"></i></a></li>
                                <li class="social-item google"><a
                                        href="https://plus.google.com/share?url={{ domain }}{{ request.get_full_path }}"
                                        target="_blank"><i
                                        class="fa fa-google-plus"></i></a></li>
                                <li class="social-item email"><a
                                        href="mailto:?&subject=PizzaFría - {{ object.episode.title }}"
                                        target="_blank"><i
                                        class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>

                        <!-- ===== TAGS ===== -->
                        <div class="sidebar-widget">
                            <h2 class="title-separator">Tags</h2>
                            <ul class="tag-list">
                                {% for tag in object.tags.all %}
                                    <li class="tag-item"><a
                                            href="{% url 'search_list' %}?q={{ tag }}"
                                            rel="tag">{{ tag }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}