{% extends "site_base.html" %}
{% load staticfiles %}
{% block title %}
PizzaFr&iacute;a - Un podcast sobre viajes en el tiempo
{% endblock %}
{% block ogtitle %}PizzaFría{% endblock %}
{% block ogurl %}{{ domain }}{{ request.get_full_path }}{% endblock %}
{% block ogdescription %}Un podcast sobre viajes en el tiempo. PizzaFr&iacute;a
    es un podcast semanal acerca de pel&iacute;culas, series, videojuegos y
    todos aquellos temas de los que los peculiares integrantes del panel
    disfrutan platicar.{% endblock %}
{% block ogimage %}{{ domain }}{% static 'assets/img/logo_pf.png' %}{% endblock %}

{% block siteurl %}{{ domain }}{{ request.get_full_path }}{% endblock %}
{% block twitter_handle %}pizzafriamx{% endblock %}
{% block twtitle %}PizzaFría{% endblock %}
{% block twdescription %}Un podcast sobre viajes en el tiempo. PizzaFr&iacute;a
    es un podcast semanal acerca de pel&iacute;culas, series, videojuegos y
    todos aquellos temas de los que los peculiares integrantes del panel
    disfrutan platicar.{% endblock %}
{% block twimage %}{{ domain }}
    {{ domain }}{% static 'assets/img/logo_pf.png' %}
{% endblock %}
{% block menu %}
    <ul class="menu">
        <li class="menuitem active"><a href="{% url "home" %}">The Ark</a></li>
        <li class="menuitem"><a href="{% url "podcast_list" %}">Podcast</a></li>
        <li class="menuitem"><a href="{% url "video_list" %}">Video</a></li>
        <li class="menuitem"><a href="{% url "blog_list" %}">Blog</a></li>
        <li class="menuitem"><a href="{% url 'about' %}">Nosotros</a></li>
        <li class="menuitem"><a href="{% url 'contact_us' %}">Contacto</a></li>
    </ul>
{% endblock %}
{% block main_header %}
    <section class="podcast-hero"
             style="background-image: url({{ latest.post.main_image.photo.url }})">
    <div class="podcast-hero-inner">
    <!-- ===== PODCAST INFO ===== -->
    <div class="container">
        <div class="podcast-hero-content">
            <span class="podcast-hero-date">{{ latest.episode.published|date:"Y-m-d" }}</span>
            <h2 class="podcast-hero-title"><a href="{% url "episode_detail" latest.episode.slug %}">{{ latest.episode.title }}</a></h2>
            <ul class="podcast-hero-meta">
                <li class="item"><a href="#" class="podcast-hero-tag"
                                    rel="tag">{{ latest.episode.subtitle }}</a></li>
                <li class="item"><i class="fa fa-clock-o"></i>
                    {% if latest.episode.hours %}{{ latest.episode.hours|stringformat:"02d" }}:{% endif %}{{ latest.episode.minutes|stringformat:"02d" }}:{{ latest.episode.seconds|stringformat:"02d" }}</li>
                <li class="item"><a
                        href="http://dts.podtrac.com/redirect.mp3/pizzafria.com/media/{{ latest.file }}"
                        download class="podcast-hero-download"><i
                        class="fa fa-download"></i> Descargar</a></li>
            </ul>
        </div>
    </div>

    <!-- ===== PODCAST PLAYER ===== -->
    <div class="podcast-hero-player-content">
        <div class="container">
            <!-- ===== CUSTOM PLAYER ===== -->
            <audio src="http://dts.podtrac.com/redirect.mp3/pizzafria.com/media/{{ latest.file }}"></audio>
        </div>
    </div>
    </div>
    </section>
{% endblock %}
{% block content %}
    <!-- ===== PODCAST LIST ===== -->
    <section id="#episodes" class="section-positive">
        <div class="container">

            <!-- ===== SECTION TITLE ===== -->
            <h2 class="title-default">M&aacute;s Episodios</h2>

            <div class="row" id="postContainer">
                {% for post in object_list %}
                    {% if forloop.first %}
                        <!-- ===== PODCAST CARD FULL ===== -->
                        <div class="col-sm-12 mb-40">
                            <div class="podcast-card full">
                                <figure class="podcast-image{% if post.entry_type == 'audio' or post.entry_type == 'video' %} player{% endif %}">
                                    <a
                                        href="{% url "episode_detail" post.slug %}"><img
                                        src="{{ post.main_image.photo.url }}"
                                        alt="{{ post.title }}"
                                        title="{{ post.title }}"/></a>
                                </figure>
                                <div class="podcast-content">
                                    <h2 class="podcast-title">
                                        <a href='{% url "episode_detail" post.slug %}'>
                                            {{ post.title }}</a>
                                    </h2>
                                    <ul class="podcast-meta">
                                        <li class="item podcast-date">
                                            {{ post.subtitle }}
                                        </li>
                                        <li class="item podcast-date">
                                            {{ post.published|date:"Y-m-d" }}
                                        </li>
                                    </ul>
                                    <p class="podcast-excerpt"><a
                                            href="{% url "episode_detail" post.slug %}">
                                        {{ post.intro|safe }}
                                    </a></p>
                                    <ul class="podcast-meta">
                                        <li class="item">
                                            {% if post.entry_type == 'audio' %}
                                                <a href="{% url 'podcast_list' %}"
                                                   class="podcast-tag"
                                                   rel="tag">
                                                    Podcast
                                                </a>
                                            {% endif %}
                                            {% if post.entry_type == 'video' %}
                                                <a href="{% url 'video_list' %}"
                                                   class="podcast-tag"
                                                   rel="tag">
                                                    Video
                                                </a>
                                            {% endif %}
                                            {% if post.entry_type == 'blog' %}
                                                <a href="{% url 'blog_list' %}"
                                                   class="podcast-tag"
                                                   rel="tag">
                                                    Post
                                                </a>
                                            {% endif %}
                                        </li>
                                        <li class="item">
                                            {% for tag in post.tags.all %}
                                                {% if forloop.counter0 < 4 %}
                                                    <a href="{% url 'search_list' %}?q={{ tag }}"
                                                       class="podcast-tag"
                                                       rel="tag">
                                                        {{ tag }}
                                                    </a>&nbsp;&nbsp;
                                                {% endif %}
                                            {% endfor %}

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <!-- ===== PODCAST CARD BOXED ===== -->
                        <div class="col-sm-6 mb-40 card_post">
                            <div class="podcast-card boxed">
                                <figure class="podcast-image{% if post.entry_type == 'audio' or post.entry_type == 'video' %} player{% endif %}">
                                    <a class="episode_url"
                                       href="{% url "episode_detail" post.slug %}"><img
                                        src="{{ post.main_image.photo.url }}"
                                        alt="{{ post.title }}"
                                        title="{{ post.title }}"/></a>
                                </figure>
                                <div class="podcast-content">
                                    <h2 class="podcast-title"><a
                                            class="episode_url"
                                            href="{% url "episode_detail" post.slug %}">{{ post.title }}</a>
                                    </h2>
                                    <ul class="podcast-meta">
                                        <li class="item podcast-date subtitle">
                                            {{ post.subtitle }}
                                        </li>
                                        <li class="item podcast-date published">
                                            {{ post.published|date:"Y-m-d" }}
                                        </li>
                                    </ul>
                                    <p class="podcast-excerpt"><a
                                            class="episode_url"
                                            href="{% url "episode_detail" post.slug %}">
                                        {{ post.intro|safe|truncatewords:14 }}
                                    </a></p>
                                    <ul class="podcast-meta">
                                        <li class="item">
                                            {% if post.entry_type == 'audio' %}
                                                <a href="{% url 'podcast_list' %}"
                                                   class="podcast-tag"
                                                   rel="tag">
                                                    Podcast
                                                </a>
                                            {% endif %}
                                            {% if post.entry_type == 'video' %}
                                                <a href="{% url 'video_list' %}"
                                                   class="podcast-tag"
                                                   rel="tag">
                                                    Video
                                                </a>
                                            {% endif %}
                                            {% if post.entry_type == 'blog' %}
                                                <a href="{% url 'blog_list' %}"
                                                   class="podcast-tag"
                                                   rel="tag">
                                                    Post
                                                </a>
                                            {% endif %}
                                        </li>
                                        <li class="item post-tags">
                                            {% for tag in post.tags.all %}
                                                {% if forloop.counter0 < 4 %}
                                                <a href="{% url 'search_list' %}?q={{ tag }}"
                                                   class="podcast-tag"
                                                   rel="tag">
                                                    {{ tag }}
                                                </a>&nbsp;&nbsp;
                                                {% endif %}
                                            {% endfor %}

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
            <div class="row">

                <!-- ===== CHECK MORE ===== -->
                <div class="col-sm-12 mb-50" id="loadMoreContainer">
                    <a href="#" id="loadMore"
                       class="btn btn-primary btn-block btn-lg">Ver
                        m&aacute;s</a>
                </div>

            </div>

        </div>
    </section>
    <!-- ===== ABOUT US ===== -->
    <section id="about-us" class="section-negative">
        <div class="container">

            <!-- ===== SECTION TITLE ===== -->
            <h2 class="title-default text-center">Detr&aacute;s del micr&oacute;fono...</h2>

            <div class="row mb-30">

                {% for panelist in panelists %}
                    <!-- ===== TEAM CARD ===== -->
                    <div class="col-lg-3 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 mb-40">
                        <div class="team-card">
                            <figure class="team-card-image"><img
                                    src="{{ panelist.picture.url }}"
                                    alt="{{ panelist.alias }}"
                                    title="{{ panelist.alias }}"/></figure>
                            <div class="team-card-content">
                                <h2 class="team-card-title">{{ panelist.alias }}</h2>
                                <p class="team-card-job">Main Caster
                                    / {{ panelist.role }}</p>
                                <p class="team-card-description">{{ panelist.short_bio|safe }}</p>
                                <ul class="team-card-social">
                                    {% for sm in panelist.social_media.all %}
                                        <li class="social-item"><a
                                                href="{{ sm.user_url }}"
                                                target="_blank"><i
                                                class="fa {{ sm.social_network }}"></i></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>

    <!-- ===== NEWSLETTER ===== -->
    <section class="section-positive text-center">
        <div class="container">

            <!-- ===== SECTION TITLE ===== -->
            <h2 class="title-default">No te pierdas ning&uacute;n episodio</h2>
            <p class="section-description">Suscr&iacute;bete y recibe un correo
                cada vez que haya un nuevo episodio</p>

            <!-- ===== FORM NEWSLETTER ===== -->
            <form action="https://feedburner.google.com/fb/a/mailverify"
                  method="post" target="popupwindow"
                  onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=PizzaFra', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"
                  class="form-newsletter validate">
                <fieldset class="row">
                    <div class="col-md-9 nopadding">
                        <input type="email" name="email"
                               class="form-control form-negative"
                               id="email-newsletter" placeholder="Tu email"
                               required/>
                    </div>
                    <input type="hidden" value="PizzaFra" name="uri"/><input
                        type="hidden" name="loc" value="es_ES"/>
                    <div class="col-md-3 nopadding">
                        <button class="btn btn-success btn-lg btn-block"
                                type="submit"><i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </fieldset>
            </form>

        </div>
    </section>
{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
        var offset = 8;

        $(document).on('ready', function () {
            $('#loadMore').on('click', function (e) {
                e.preventDefault();
                $(this).button('loading');
                $.ajax(
                        {
                            url: "{% url 'get_posts' %}",
                            type: 'get',
                            data: {offset: offset},
                            success: function (data) {
                                data.posts.forEach(function (post) {
                                    console.log(post);
                                    var single_url = "{% url "episode_detail" slug='xxxxxxxxxxxxxxxxxx' %}";
                                    single_url = single_url.replace('xxxxxxxxxxxxxxxxxx', post['slug']);
                                    var card = $('.card_post').first();
                                    card = card.clone();
                                    card.find('.episode_url').attr('href', single_url);
                                    card.find('img').attr({
                                        "src": post['main_image__photo'],
                                        "title": post['title'],
                                        "alt": post['title']
                                    });
                                    card.find('.podcast-title a').text(post['title']);
                                    card.find('.subtitle').text(post['subtitle']);
                                    card.find('.published').text(post['published']);
                                    card.find('.podcast-excerpt a').html(post['intro'].split(" ").splice(0, 14).join(" "));
                                    if (post['entry_type'] == 'post') {
                                        card.find('.post-type').attr('href', '#blog').text('Post');
                                    } else if (post['entry_type'] == 'audio') {
                                        card.find('.post-type').attr('href', '#podcast').text('Podcast');
                                    } else {
                                        card.find('.post-type').attr('href', '#video').text('Video');
                                    }
                                    card.find('.post-tags').html('');
                                    if (post.tags != null) {
                                        var count = 0;
                                        post.tags.forEach(function (tag) {
                                            if (count < 4) {
                                                var aTag = $('<a>').addClass('podcast-tag').text(tag).attr('href', '{% url 'search_list' %}?q=' + tag);
                                                card.find('.post-tags').append(aTag);
                                                count++;
                                            }
                                        });
                                    }
                                    $('#postContainer').append(card);
                                });
                                $('#loadMore').button('reset');
                                offset = data.offset;
                            }
                        }
                );
            })
        });
    </script>
{% endblock %}